<template>
  <div class="page-content-wrapper choose-career-screen">
    <div class="container choose-career-screen">

      <div class="card">
        <div class="card-block">

          <div class="ex-page-content text-center">
            <span><i class="fa fa-sort-numeric-asc icon"></i></span>
            <h3 class="">Seleccioná el nivel</h3>
            <p class="text-muted">Seleccioná el nivel que vas a cursar:</p>
            <div class="alert alert-danger p-3" role="alert" v-if="error">{{ error }}</div>
            <div class="form-group col-md-4" style="margin: auto;" v-bind:class="{ 'has-danger': $v.level.$error }">
              <select class="custom-select form-control" v-model="level">
                <option v-for="level in levels" v-bind:value="level.value">{{ level.text }}</option>
              </select>
              <div class="form-control-feedback" v-if="!$v.level.required && $v.level.$error">Seleccioná el año que vas a cursar.</div>
            </div>

            <div class="form-group col-md-4 mt-3" style="margin: auto;">
              <small>Solo debes tildar la siguiente opción si eres recursante:</small><br>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-model="repeatingTheClass">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Soy recursante</span>
              </label>
            </div>

            <div class="alert alert-danger mt-3">
              <h5>IMPORTANTE: COHORTE 2020.</h5>
              <p><strong>No</strong> esta habilitada la carrera de TÉCNICO SUPERIOR EN DIAGNÓSTICO POR IMÁGENES para primer año.<br>
                Para los ingresantes de dicha carrera, corresponde TÉCNICO SUPERIOR EN RADIOLOGÍA.</p>
            </div>

            <a class="btn btn-primary mb-5 waves-effect waves-light go-home go-next-step" href="javascript:void(0);" @click="submit()">Continuar</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import levels from '../../data/levels'
  import { required } from 'vuelidate/lib/validators'

  export default {
    name: 'student-registration-step-2',

    created () {
      // Obtenemos todas las configuraciones desde el api
      this.getAllConfigurations()

      this.verifyStep2Completed()
    },


    data () {
      return {
        isLoading: false,
        user: this.$store.state.auth.user,
        levels: levels,
        level: null,
        repeatingTheClass: false,
        career: null,
        error: null
      }
    },

    computed: {

      registrationToCareer: function () {
        return this.$store.getters.getRegistrationToCareer
      },

      // traemos la configuracion para saber el año lectivo actual
      configItemAcademicYear: function () {
        return this.$store.getters.getConfigByKey('registrationToCareers.academicYear')
      }

    },



    validations: {
      level: {
        required
      }
    },


    methods: {

      submit: function () {
        $('.go-next-step').attr('disabled', true)

        this.$v.level.$touch()

        if(!this.$v.level.$error) {

          var self = this

          if(self.configItemAcademicYear && self.configItemAcademicYear.value) {

            const academicYear = self.configItemAcademicYear.value

            this.$store.dispatch('editRegistrationToCareer', { registrationToCareer: { academicYear: academicYear, user: self.user._id, level: self.level, repeatingTheClass: self.repeatingTheClass, studentRegistrationStatus: 'pending-step-2' } })
              .then((response) => {

                if(response.success) {

                  this.$router.push('/student-registration-step-3')

                } else {

                  self.error = response.message

                }

                $('.go-next-step').attr('disabled', false)

              })
              .catch((response) => {
                $('.go-next-step').attr('disabled', false)
              })
          }

        }
      },


      verifyStep2Completed: function () {

        var self = this

        if(self.configItemAcademicYear && self.configItemAcademicYear.value) {

          const academicYear = self.configItemAcademicYear.value

          this.$store.dispatch('getRegistrationToCareer', { registrationToCareer: { academicYear: academicYear, user: self.user._id } })
            .then((response) => {

              if (self.registrationToCareer) {
                self.level = self.registrationToCareer.level
                self.career = self.registrationToCareer.career._id
                self.repeatingTheClass = self.registrationToCareer.repeatingTheClass
              }

              if(response.data && response.data.studentRegistrationStatus) {
                if (response.data.studentRegistrationStatus != 'pending' &&
                  response.data.studentRegistrationStatus != 'pending-step-1' &&
                  response.data.studentRegistrationStatus != '') {
                  return true;
                }
                return false;
              }
            })
            .catch((response) => {

            })

          return false
        }
      },


      getAllConfigurations: function () {

        var self = this

        this.$store.dispatch('getAllConfigurations')
          .then((response) => {

          })
          .catch((response) => {
            this.error = response.message
          })

      }

    }
  }
</script>

<style scoped>
  .icon {
    font-size: 47px;
    margin-bottom: 10px;
  }
  .card {
    min-height: 80vh;
  }
  .btn-primary {
    margin-top: 20px;
  }
  .ex-page-content {
    margin-top: 40px;
  }
</style>
