<template>
  <div class="page-content-wrapper user-list-page"  v-check-permission="'list-careers'">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card m-b-20">
            <div class="card-block">

              <h4 class="mt-0 header-title">Carreras</h4>
              <p class="text-muted m-b-30 font-14">Desde aqui podras administrar las carreras.</p>

              <div class="table-rep-plugin">
                <div class="btn-toolbar">
                  <div class="btn-group dropdown-btn-group pull-right">
                    <router-link to="/edit-career" v-check-permission="'edit-careers'" class="btn btn-primary waves-effect waves-light">Agregar nuevo</router-link>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="table-responsive b-0" data-pattern="priority-columns">

                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Carrera</th>
                      <th>Estado</th>
                      <th>Creado el</th>
                      <th class="col-icon" v-check-permission="'edit-careers'"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="career in careers" :key="career._id">
                      <td>{{ career.name }}</td>
                      <td><span class="badge badge-success" v-if="career.active">Activo</span><span class="badge badge-primary" v-if="!career.active">Inactivo</span> </td>
                      <td>{{ career.createdAt | moment("DD/MM/YYYY") }}</td>
                      <td v-check-permission="'edit-careers'">
                        <router-link :to="{ name: 'edit-career', params: { id: career._id }}" class="text-info mr-3"><i class="fa fa-pencil"></i></router-link>
                        <a href="javascript:void(0);" class="text-primary" @click="setCareer(career)" data-toggle="modal" data-target="#deleteConfirm"><i class="fa fa-minus-circle"></i></a>
                      </td>
                    </tr>
                    <tr v-if="careers.length === 0">
                      <td colspan="4">Aun no se han cargado carreras.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end col -->
      </div> <!-- end row -->

    </div><!-- container -->

    <div id="deleteConfirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" v-check-permission="'edit-careers'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0">Confirmar eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Realmente desea eliminar el registro?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary delete-btn" @click="deleteCareer(career._id)">Confirmar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>
</template>


<script>
  export default {
    name: 'career-list-screen',



    created () {
      this.getAllCareers()
    },



    data () {
      return {

      }
    },



    computed: {

      careers: function () {
        return this.$store.getters.getAllCareers
      },

      career: function () {
        return this.$store.getters.getCareer
      }

    },



    methods: {


      getAllCareers () {
        this.$loader.loading();
        this.$store.dispatch('getAllCareers')
          .then((response) => {
            this.$loader.close();
          })
          .catch((response) => {
            this.$loader.close();
            this.$message.error({text: response.message});
          })
      },


      deleteCareer (id) {
        $('.delete-btn').attr('disabled', true)
        this.$store.dispatch('deleteCareer', { id : id })
          .then((response) => {
            this.isLoading = false
            $('.delete-btn').attr('disabled', false)
            $('#deleteConfirm').modal('hide');
          })
          .catch((response) => {
            $('.delete-btn').attr('disabled', false);
            $('#deleteConfirm').modal('hide');
            this.$message.error({text: response.message});
          })

        return true
      },


      setCareer (career) {
        this.$store.dispatch('setCareer', { career : career })
      }

    }
  }
</script>

<style scoped>
</style>
