<template>
  <div class="page-content-wrapper" v-check-permission="'edit-roles'">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card m-b-20">
            <div class="card-block">
              <h4 class="mt-0 header-title">Rol</h4>
              <div class="alert alert-danger p-3" role="alert" v-if="error">{{ error }}</div>
              <div class="alert alert-success p-3" role="alert" v-if="savedSuccessfully">Los datos se han guardado.</div>
              <template v-if="role">
                <div class="form-group" v-bind:class="{ 'has-danger': $v.role.name.$error }">
                  <label>Nombre</label>
                  <input type="text" class="form-control" v-model="role.name" @input="$v.role.name.$touch()">
                  <div class="form-control-feedback" v-if="!$v.role.name.required && $v.role.name.$error">El nombre es requerido.</div>
                </div>
                <div class="form-group  m-b-0">
                  <label>Estado</label>
                  <div>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="role.active">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Activo</span>
                    </label>
                  </div>
                </div>

                <div class="form-group  m-b-0">
                  <label>Establecer como rol predeterminado</label>
                  <div>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="role.isDefault">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Si</span>
                    </label>
                  </div>
                  <small class="form-text text-muted"><span class="text-primary">Cuidado:</span> El rol que seleccione como predeterminado es el que se le asigna a los usuarios nuevos que se registren desde el formulario de registro.</small>
                </div>

                <div class="form-group  m-b-0">
                  <label>Permisos</label>
                  <div v-for="permission in permissions">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-bind:value="permission._id" v-model="role.permissions">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ permission.name }}<br><small>{{ getDescription(permission.key) }}</small></span>
                    </label>
                  </div>
                </div>

                <div class="card-block pull-right pr-0">
                  <div class="loading waves-effect mr-2" v-if="isSaving">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                  </div>
                  <router-link to="/roles" class="btn btn-secondary waves-effect m-r-10">Cancelar</router-link>
                  <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light save-btn" @click="submit()">Guardar</a>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators'
  import localPermissions from '../data/permissions'

  export default {
    name: 'edit-role',


    created () {
      this.getRole()
      this.getAllPermissions()
    },


    data () {
      return {
        error: '',
        isSaving: false,
        savedSuccessfully: false,
        localPermissions: localPermissions
      }
    },


    computed: {
      role: function () {
        return this.$store.getters.getRole
      },
      permissions: function () {
        return this.$store.getters.getAllPermissions
      }
    },
    validations: {
      role: {
        name: {
          required
        }
      }
    },
    methods: {
      submit: function () {
        this.$v.role.$touch()

        if(!this.$v.role.$error) {
          this.isSaving = true;
          $('.save-btn').attr('disabled', true);

          this.$store.dispatch('editRole', {role: this.role})
            .then((response) => {
              this.isSaving = false
              this.savedSuccessfully = true
              const self = this
              setTimeout(function () {
                self.$router.push('/roles')
              }, 500)

              $('.save-btn').attr('disabled', false)
            })
            .catch((response) => {
              this.isSaving = false
              this.error = response.message

              $('.save-btn').attr('disabled', false)
            })
        }
      },


      getRole: function () {
        this.$store.dispatch('getRole', { id : this.$route.params.id })
          .then((response) => {
            this.isSaving = false
          })
          .catch(error => {
            this.error = error
            this.isSaving = false
          })
      },


      getAllPermissions () {
        this.$store.dispatch('getAllPermissions')
          .then((response) => {
            //console.log(response)
          })
          .catch((response) => {
            this.error = response.message
          })
      },

      getDescription: function (key) {
        var perm = this.localPermissions.filter(permission => (permission.key === key));
        if(perm && perm.length > 0) {
          return perm[0].description;
        }
      }
    }
  }
</script>

<style scoped>

</style>
