<template>
  <div class="page-content-wrapper user-list-page"  v-check-permission="'list-examination-tables'">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card m-b-20">
            <div class="card-block">

              <h4 class="mt-0 header-title">Mesas de exámen</h4>
              <p class="text-muted m-b-30 font-14">Desde aquí podras administrar las mesas de exámen.</p>

              <div class="table-rep-plugin">
                <div class="btn-toolbar">
                  <div class="btn-group dropdown-btn-group pull-right">
                    <router-link to="/edit-examination-tables" v-check-permission="'edit-examination-tables'" class="btn btn-primary waves-effect waves-light">Agregar nuevo</router-link>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="table-responsive b-0" data-pattern="priority-columns">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Mesas de exámen</th>
                        <th>Estado</th>
                        <th>Inscrip. desde</th>
                        <th>Inscrip. hasta</th>
                        <th>Creado el</th>
                        <th class="col-icon" v-check-permission="'edit-examination-tables'"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in examinationTables.docs" :key="item._id">
                        <td>{{ item.name }} <small v-if="item.called">({{item.called}})</small></td>
                        <td>
                          <span class="badge badge-success" v-if="item.active">Activo</span>
                          <span class="badge badge-primary" v-if="!item.active">Inactivo</span>
                        </td>
                        <td>{{ item.dateFrom | formatDate("DD/MM/YYYY") }}</td>
                        <td>{{ item.dateTo | formatDate("DD/MM/YYYY") }}</td>
                        <td>{{ item.createdAt | formatDate("DD/MM/YYYY") }}</td>
                        <td v-check-permission="'edit-examination-tables'">
                          <router-link :to="{ name: 'edit-examination-tables', params: { id: item._id }}" class="text-info mr-3">
                            <i class="fa fa-pencil"></i>
                          </router-link>
                          <a href="javascript:void(0);" class="text-primary" @click="setCareer(item)" data-toggle="modal" data-target="#deleteConfirm">
                            <i class="fa fa-minus-circle"></i>
                          </a>
                        </td>
                      </tr>
                      <tr v-if="examinationTables.docs && examinationTables.docs.length === 0">
                        <td colspan="4">Aun no se han cargado mesas de exámen.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end col -->
      </div> <!-- end row -->

    </div><!-- container -->

    <div id="deleteConfirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" v-check-permission="'edit-examination-tables'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0">Confirmar eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Realmente desea eliminar el registro?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary delete-btn" @click="deleteCareer(examinationTable._id)">Confirmar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>
</template>


<script>
  export default {
    name: 'examination-tables-list-screen',



    created () {
      this.getAllExaminationTables()
    },



    data () {
      return {

      }
    },



    computed: {

      examinationTables: function () {
        return this.$store.getters.getAllExaminationTables
      },

      examinationTable: function () {
        return this.$store.getters.getExaminationTable
      }

    },



    methods: {


      getAllExaminationTables () {
        this.$loader.loading();
        this.$store.dispatch('getAllExaminationTables')
          .then((response) => {
            this.$loader.close();
          })
          .catch((response) => {
            this.$loader.close();
            this.$message.error({text: response.message});
          })
      },


      deleteCareer (id) {
        $('.delete-btn').attr('disabled', true)
        this.$store.dispatch('deleteExaminationTable', { id : id })
          .then((response) => {
            this.isLoading = false
            $('.delete-btn').attr('disabled', false)
            $('#deleteConfirm').modal('hide');
          })
          .catch((response) => {
            $('.delete-btn').attr('disabled', false);
            $('#deleteConfirm').modal('hide');
            this.$message.error({text: response.message});
          })

        return true
      },


      setCareer (examinationTable) {
        this.$store.dispatch('setExaminationTable', { examinationTable : examinationTable })
      }

    }
  }
</script>

<style scoped>
</style>
