<template>
  <div class="login-page">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-lg-3 center-block">
        <div class="card">
          <div class="card-block">
            <div class="text-center mt-3">
              <img src="../assets/img/logo.png" height="52" alt="logo">
            </div>

            <h4 class="text-muted text-center font-18 mt-3"><b>Registro</b></h4>

            <div class="p-3">
              <div class="alert alert-danger p-3" role="alert" v-if="error">{{ error }}</div>
              <div class="alert alert-success p-3" role="alert" v-if="showMessage">{{ successMessage }}</div>

              <div class="form-group" v-bind:class="{ 'has-danger': $v.user.email.$error }">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="user.email"
                  @input="$v.user.email.$touch()">
                <div class="form-control-feedback" v-if="!$v.user.email.required && $v.user.email.$error">El email es requerido.</div>
                <div class="form-control-feedback" v-if="!$v.user.email.email && $v.user.email.$error">Ingrese un email válido.</div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-danger': $v.user.displayName.$error }">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  v-model="user.displayName"
                  @input="$v.user.displayName.$touch()">
                <div class="form-control-feedback" v-if="!$v.user.displayName.required && $v.user.displayName.$error">El nombre es requerido.</div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-danger': $v.user.dni.$error }">
                <input
                  type="number"
                  class="form-control"
                  placeholder="DNI"
                  v-model="user.dni"
                  @input="$v.user.dni.$touch()">
                <div class="form-control-feedback" v-if="!$v.user.dni.required && $v.user.dni.$error">El dni es requerido.</div>
                <div class="form-control-feedback" v-if="!$v.user.dni.minLength && $v.user.dni.$error">El dni debe tener al menos {{ $v.user.dni.$params.minLength.min }} números.</div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-danger': $v.user.password.$error }">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  v-model="user.password"
                  @input="$v.user.password.$touch()">
                <div class="form-control-feedback" v-if="!$v.user.password.required && $v.user.password.$error">La contraseña es requerida.</div>
                <div class="form-control-feedback" v-if="!$v.user.password.minLength && $v.user.password.$error">La contraseña debe tener al menos {{ $v.user.password.$params.minLength.min }} caracteres.</div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-danger': $v.user.repeatPassword.$error }">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Repetir Contraseña"
                  @keyup.enter="submit()"
                  v-model="user.repeatPassword"
                  @input="$v.user.repeatPassword.$touch()">
                <div class="form-control-feedback" v-if="!$v.user.repeatPassword.required && $v.user.repeatPassword.$error">Repita la contraseña.</div>
                <div class="form-control-feedback" v-if="!$v.user.repeatPassword.sameAsPassword && $v.user.repeatPassword.$error">La contraseña no coincide.</div>
              </div>
              <div class="form-group text-center row m-t-20">
                <div class="col-12">
                  <button class="btn btn-primary btn-block waves-effect waves-light signup-btn" @click="submit()">Registrarme</button>
                </div>
              </div>
            </div>

            <div class="text-center mt-3">
              <p class="text-muted">¿Ya estas registrado?</p>
              <router-link to="/login" class="text-primary">Ingresá aquí</router-link>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import { required, email, sameAs, minLength } from 'vuelidate/lib/validators'

  export default {

    name: 'login',


    data () {
      return {
        user: {
          email: '',
          password: '',
          repeatPassword: '',
          displayName: '',
          dni: ''
        },
        showMessage: false,
        error: '',
        successMessage: 'Sus datos están siendo procesados...'
      }
    },


    validations: {
      user: {
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(6)
        },
        repeatPassword: {
          sameAsPassword: sameAs('password')
        },
        displayName: {
          required
        },
        dni: {
          required,
          minLength: minLength(8)
        }
      }
    },


    methods: {


      submit () {
        this.error = null
        this.$v.user.$touch()

        if(!this.$v.user.$error) {

          $('.signup-btn').attr('disabled', true);

          this.showMessage = true
          this.$auth.signup(this.user, null).then((response) => {
            this.showMessage = false
            if (!response.body.success) {
              this.error = response.body.message
            } else {
              this.successMessage = 'Tu usuario ha sido creado. Verifica tu casilla de correo y has click en el link que te hemos envíado para activar tu cuenta.';
              this.showMessage = true;
              this.resetForm()
            }

            $('.signup-btn').attr('disabled', false);
          })

        }
      },


      resetForm() {
        this.user.repeatPassword ='';
        this.user.password = '';
        this.user.email = '';
        this.user.dni = '';
        this.user.displayName = '';
        this.$v.user.$reset();
      }

    }

  }
</script>

<style scoped>
  .login-page{
    margin-top: 9.5%;
    margin-bottom: 5%;
  }
  .center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
</style>
