<template>
  <div class="page-content-wrapper user-list-page" v-check-permission="'list-stock-of-ambos'">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card m-b-20">
            <div class="card-block">

              <h4 class="mt-0 header-title">Stock de ambos</h4>
              <p class="text-muted m-b-30 font-14">Desde aquí podras administrar el stock de ambos.</p>

              <div class="table-rep-plugin">
                <div class="btn-toolbar">
                  <div class="btn-group dropdown-btn-group pull-right">

                  </div>
                  <div class="clearfix"></div>
                </div>

                <div>
                  <div class="row">
                    <div class="col-md-2 mb-3">
                      <select class="custom-select form-control" v-model="params.career">
                        <option :value="null">Carrera</option>
                        <option v-for="career in careers" v-bind:value="career._id">
                          {{ career.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-2 mb-3">
                      <select class="custom-select form-control" v-model="params.size">
                        <option :value="null">Talle</option>
                        <option v-for="size in sizes" :value="size.value">{{ size.text }}</option>
                      </select>
                    </div>
                    <div class="col-md-2 mb-3">
                      <select class="custom-select form-control" v-model="params.status">
                        <option :value="null">Estado</option>
                        <option value="few-units">Quedan pocas unidades</option>
                        <option value="without-stock">Sin stock</option>
                      </select>
                    </div>
                    <div class="col-md-2 mb-3">
                      <button class="btn btn-primary bootstrap-touchspin-up" @click="search()" type="button"><i class="fa fa-search"></i></button>
                      <button class="btn btn-primary" @click="clearFilters()">Limpiar</button>
                    </div>
                    <div class="col-md-4 mb-3">
                      <button class="btn btn-primary pull-right" @click="getAll()"><i class="fa fa-refresh" aria-hidden="true"></i> Mostrar todos</button>
                      <router-link v-check-permission="'edit-stock-of-ambos'" to="/edit-stock-of-ambos" class="btn btn-info waves-effect waves-light pull-right mr-3">Agregar nuevo</router-link>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row pull-right mb-2">
                <div class="col-md-12">
                  <small><b>({{ items.total }} registros)</b></small>
                </div>
              </div>

              <div class="table-responsive b-0" data-pattern="priority-columns">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Nombre de la prenda</th>
                    <th>Carrera</th>
                    <th>Talle</th>
                    <th>Cantidad en stock</th>
                    <th>Precio por unidad</th>
                    <th>Estado</th>
                    <th>Creado el</th>
                    <th class="col-icon" v-check-permission="'edit-stock-of-ambos'"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-if="items.docs" v-for="item in items.docs" :key="item._id">
                    <td><b>{{ item.name }}</b></td>
                    <td>{{ item.career.name }}</td>
                    <td>{{ item.size }}</td>
                    <td><b>{{ item.amount }} unidades</b></td>
                    <td>${{ item.price }}</td>
                    <td>
                      <span class="badge badge-primary" v-if="item.amount <= 10 && item.amount > 0">Quedan pocas unidades</span>
                      <span class="badge badge-dark" v-if="item.amount < 1">Sin stock</span>
                      <span class="badge badge-success" v-if="item.amount > 10">OK</span>
                    </td>
                    <td>{{ item.createdAt | moment("DD/MM/YYYY") }}</td>
                    <td v-check-permission="'edit-stock-of-ambos'">
                      <router-link :to="{ name: 'edit-stock-of-ambos', params: { id: item._id }}" class="text-info mr-3"><i class="fa fa-pencil"></i></router-link>
                      <a href="javascript:void(0);" v-check-permission="'edit-stock-of-ambos'" class="text-primary"  @click="deleteItem(item._id)"><i class="fa fa-minus-circle"></i></a>
                    </td>
                  </tr>
                  <tr v-if="items.docs && items.docs.length === 0">
                    <td colspan="10">No se encontraron registros.</td>
                  </tr>
                  </tbody>
                </table>

                <pagination v-bind:current-page="params.page" v-bind:total-pages="items.pages">
                </pagination>

              </div>

            </div>
          </div>
        </div> <!-- end col -->
      </div> <!-- end row -->

    </div><!-- container -->

  </div>
</template>


<script>
  import config from '../data/config'
  import pagination from '../components/Pagination.vue'
  import sizes from '../data/sizes'

  export default {
    name: 'stock-of-ambos-list',

    components: {
      pagination
    },

    created () {
      this.getAllCareers();
      this.getAllItems();

      this.$on('pageChanged:pagination', val => {
        this.params.page = val;
        this.getAllItems();
      })
    },


    data () {
      return {
        params: {
          limit: config.pagination.limit,
          page: 1,
          career: null,
          size: null,
          status: null
        },
        sizes: sizes
      }
    },


    computed: {

      items: function () {
        return this.$store.getters.getAllItemsOfStockOfAmbos
      },

      item: function () {
        return this.$store.getters.getItemOfStockOfAmbos
      },

      careers: function () {
        return this.$store.getters.getAllCareers
      },

    },


    methods: {


      getAllItems () {
        this.$loader.loading();

        this.$store.dispatch('getAllItemsOfStockOfAmbos', { params : this.params })
          .then((response) => {
            this.$loader.close();
          })
          .catch((response) => {
            this.$loader.close();
            this.$message.error({text: response.message});
          })
      },



      getAll: function () {
        this.clearFilters();
        this.getAllItems();
      },



      search: function () {
        if(this.params.career || this.params.size || this.params.status) {
          this.params.page = 1;
          this.getAllItems();
        }
      },


      clearFilters() {
        this.params.career = null;
        this.params.size = null;
        this.params.status = null;
        this.params.page = 1;
      },


      getAllCareers () {
        this.$loader.loading();
        this.$store.dispatch('getAllCareers')
          .then((response) => {
            this.$loader.close();
          })
          .catch((response) => {
            this.$loader.close();
          })
      },



      deleteItem (id) {
        var self = this;

        this.$message.delete().then(function (result) {

          if(result.value) {
            self.$store.dispatch('deleteItemOfStockOfAmbos', { id : id })
              .then((response) => {
                if(response.success) {
                  self.$message.success();
                } else {
                  self.$message.error({text: response.message});
                }
              })
              .catch((response) => {
                self.$message.error({text: response.message});
              })
          }

        })

      },


    }
  }
</script>

<style scoped>

</style>
