#menu { 
	display: none; 
} 

#wrapper, 
#content { 
	width: auto; 
	border: 0; 
	margin: 0 5%; 
	padding: 0; 
	float: none !important; 
}

#toPrint{
	width: 100%; margin: 0; float: none;
}

/* Ensure the content spans the full width */
#card{
width: 100%; margin: 0; float: none;
}