<template>
  <vue-date-picker :date="dateValue" :option="datePickerOptions"></vue-date-picker>
</template>

<script>
  import VueDatepicker from 'vue-datepicker/vue-datepicker-es6'

  export default {
    name: 'date-picker',


    components: {
      'vue-date-picker': VueDatepicker
    },


    props: {
      date: {
        required: true
      }
    },



    mounted() {
      if(String(this.date).includes('T')) {
        this.dateValue.time = this.$moment(this.date).format('YYYY-MM-DD');
      }
    },



    data() {
      return {
        dateValue: {
          time: this.date || ''
        },
        datePickerOptions: {
          type: 'day',
          week: ['Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa', 'Do'],
          month: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          format: 'YYYY-MM-DD',
          placeholder: 'yyyy/mm/dd',
          color: {
            checked: '#eb7475',
            header: '#eb7475',
            headerText: '#fff'
          },
          buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
          },
          overlayOpacity: 0.5, // 0.5 as default
          dismissible: true // as true as default
        }
      }
    },

    watch: {
      'dateValue.time': function (val, oldVal) {
        this.$parent.$emit('update:date', val)
      },
      'date': function (val, oldVal) {
        this.dateValue.time = this.$moment(this.date).format('YYYY-MM-DD');
      }
    }
  }
</script>
<style>
  .cov-vue-date {
    display: block!important;
  }
  .cov-date-body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif!important;
  }
  .cov-datepicker {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }
</style>

